@font-face {
    src: url(fonts/Yeyey-1pK2.otf);
    font-family: "Yeyey";
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Nova Mono', monospace;
}

.header {
    height: 350px;
    background: #1F2937;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    
    /* display: flex; */
} 

.top {
    /* margin: 10px; */
    display: flex;
    justify-content: space-around;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: "Yeyey";
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    list-style-type: none;
    
}


/* .greeting {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.block2 {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #1F2937;
    height: 270px;
    width: auto;
    /* font-size: 36px; */
}

.quoteSection {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: #E5E7EB;
    height: 270px;
    padding: 15px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

h6 {
    margin: 0;
    padding: 0;
}

.ActionBlock {
    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 250px;
    width: 300px; */

    margin: 50px;
    padding: 30px 50px;

    align-self: center;
    justify-content: center;
    gap: 50px;
    background-color: #3882F6; 
    border-radius: 7px;
}

.footer {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;

    background: #1F2937;
    color: #E5E7EB;
    height: 60px;

    
}

.block2 {
    flex-direction: column;
    width: 70%;
    height: 60%;
    align-self: center;

}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.greetingText {
    width: 25%;
    gap: 10px;
}

.AnimeGirls {
    width: 350px;
    border-radius: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.callToAction
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.logo {
    width: 50px;
}

.tsundere, .yandere, .kuudere, .dandere {
    height: 150px;
}

h4  {
    margin: 0;
}

h5 {
    margin: 0;
}

button {
    padding: 3px 20px;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    border-color: white;
    border-style: solid;
}
/*note for the future: 
It's better to repeat code but pack it in order, thean to try to spare lines
but leaving everything in chaos, because it's easier to optimize organised
code than to control chaotic but optimised code*/

.greetingButton {
    border-style: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.card {
    border-radius: 5px;
    border: 4px solid #3882F6;
}

.quoteAuthor {
    align-self: flex-end;
    font-size: 20px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

/*body had to contain three elements: two pieces on sides and the main elemet in the middle. The middle element
would contain all of the site's main content, while the sides could be used for ads or some gimmics. However the 
problem of background colours would still remain
besides the side elements would look weird */

/*Alternatively I could've just give all elements the same amount of padding*/


